.cur{
    cursor: pointer;
}
.purpel{
    color: #7148fc!important;
}
.orange{
    color: #f5a623!important;
}
.blue{
    color: #4a90e2!important;
}
.green{
    color: #36d7b3!important;
}
.bg-purpel{
    background-color: #7148fc!important;
}
.bg-orange{
    background-color: #f5a623!important;
}
.bg-blue{
    background-color: #4a90e2!important;
}
.bg-green{
    background-color: #36d7b3!important;
}
/* Nav */
.main-navigation{
    height: 116px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.07);
    background: #fff;
}
.boards{
    font-size: 16px;
    color: #999;
}
.main-logo{
    font-size: 27px;
    color: #7148fc;
    position: absolute;
    left: 48%;
    font-weight: bold;
}
.search-div{
    position: relative;
    margin-left:auto; 
}
.search-div input{
    padding-left: 30px!important;
    width: 150px;
    border:0;
}
.search-div input::placeholder{
    color: #999;
    font-style: italic;
    font-size: 16px;
}
.search-div img{
    position: absolute;
    top: 5px;
    left: 5px;
}
.profile-img{
    width: 38px;
    height: 38px;
    border-radius: 10px;
}
.profile-div span{
    font-size: 18px;
}
.hi{
    font-style: italic;
    color: #834bc4;
    font-weight: bold;
}
/* Nasaq team */

.nasaq-team{
    background-color: #f0f0f0;
    padding: 15px 35px;
    border-radius: 10px;
    margin: 30px auto;
    width: 280px;
    display: flex;
    justify-content: center;
}
.nasaq-team .letter{
    padding: 8px 17px;
    color: #fff;
    background: #7148fc;
    border-radius: 10px;
    font-size: 24px;
}
.nasaq-team .caption span{
    font-size: 21px;
    margin: 0px 10px;
}
.nasaq-team .caption small{
    font-size: 15px;
    margin: 0px 10px;
    color: #bababa;
}
/* Jobs area */
.jobs-area mat-card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    margin: 10px 0px;
}
.jobs-area mat-card .done{
    padding: 40px;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.jobs-area mat-card-title{
    font-size: 18px;
    margin: 35px 0px;
}
.jobs-area .add-card{
    font-size: 14px;
    color: #d7d6d6;
    text-align: center;
}
.jobs-area mat-card-title span{
    width: 7px;
    height: 7px;
    margin-right: 5px;
    border-radius: 50%;
    border: solid 1px;
    display: inline-block;
}
.jobs-area mat-card .link{
    font-size: 13px;
    color: #a9a9a9;
}
.jobs-area mat-card .link mat-icon{
    width: 13px;
    height: 13px;
    transform: rotate(90deg);
    font-size: 13px;
    vertical-align: text-bottom;

}
.jobs-area mat-card .people{
    display: flex;
}
.jobs-area mat-card .people .plus{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    background: #f5f7fa;
    line-height: 18px;
    color: #a9a9a9;
    font-size: 10px;
}
.jobs-area mat-card .people img{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0px -2px;
}



/* Media Query */
@media (max-width: 767px) { 
    .main-logo{
        position: static;
    }
}